
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    overflow-y: scroll;
    background-image: url(../Images/vertical-waves.png); 
    margin-bottom: 80px;
}

h2, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #851616;
    font-weight: bold;
}

/* Navigation Bar */

nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff !important;  
    background-color: #851616;
    padding: 10px;
}

.nav-item {
    border-left: 2px solid #efefef;
    font-size: 20px;
}

.nav-item:first-child {
    border-left: 0 none;
}

.nav-item:hover {
    background-color: #851616;
}

.nav-link:hover {
    color: #ffffff !important;
}

.navbar-toggler:hover {
    background-color: #851616;
}

/* ------------------------------------------------ */

/* Main Container */

.maincontent {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 30px;
}

.page-header {
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
}

/* ------------------------------------------------ */

/* Connect with Me Container */

.card {
    border: 1px solid #dddddd;
    margin-top: 40px;
    padding-left: 20px;
}

.card-title {
    border-bottom: 2px solid #dddddd;
    margin: 0 20px 20px 10px;
    padding-bottom: 10px;
}

.card-link {
    margin: 0 20px 20px 20px;
    padding: 10px 0 0 15px;
    display: inline-block;
}

.grow {
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.3); 
}

/* ------------------------------------------------ */

/* Portfolio Container */

.card-portfolio {
    position: relative;
    margin: 10px 5px 30px 5px;
}

.card-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-weight: bold;
    background-color: #851616;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%; 
}

/* ------------------------------------------------ */

/* Contact Form Container */

form button {
    background-color: #851616;
    color: #ffffff;
}

button:hover {
    background-color: #c04c4c;
}

/* ------------------------------------------------ */

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 65px; 
    color: #cccccc;
    background-color: #666666;
    border-top: 6px solid #851616;
    text-align: center;
}

/* ------------------------------------------------ */

/* Media Queries */

@media (max-width: 575px) { 

    .card {
        margin-top: 10px;
        margin-bottom: 40px;
        padding-left: 10px;
    }
   
    .card-title {
        font-size: 18px;
    }

    .card-link img {
        width: 30%;
        height: 30%;
    }

    .card-link {
        margin: 0 20px 20px 5px;
        padding: 10px 0 0 10px;          
    }
}

@media (min-width: 576px) and (max-width: 767px) { 

    .card {
        margin-top: 10px;
        margin-bottom: 40px;
        padding-left: 10px;
    }
   
    .card-title {
        font-size: 22px;
    } 

    .card-link img {
        width: 30%;
        height: 30%;
    }

}

@media (min-width: 768px) and (max-width: 991px) { 

    .card {
        padding-left: 0;
    }

    .card-title {
        margin: 0 0 20px 0;
        padding-bottom: 15px;
        padding-top: 10px;
        font-size: 18px;
    }

    .card-link img {
        width: 30%;
        height: 30%;
    }
    
    .card-link {
        margin: 0 20px 20px 5px;
        padding: 10px 0 0 10px;     
    }
}

@media (min-width: 992px) and (max-width: 1199px) { 

    .card {
        padding-left: 10px;
    }

    .card-title {
        margin: 0 0 20px 0;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 22px;
    }

    .card-link img {
        width: 30%;
        height: 30%;
    }

    .card-link {
        margin: 5px 20px 20px 5px;
        padding: 10px 0 0 20px;     
    }
}

/* ------------------------------------------------ */

